* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: rgba(125, 125, 125, 0.502);
  color: #fff;
}

@font-face {
  font-family: Inter;
  src: url('../font/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Inter;
  src: url('../font/Inter-SemiBold.ttf') format('truetype');
  font-weight: bold;
}

html {
  font-size: 100%;
}

body {
  font-family: Inter, sans-serif;
}

.container {
  max-width: 100rem;
  width: 90%;
  margin: auto;
}

.shadow-common {
  box-shadow: 8px 8px 32px rgba(114, 114, 114, 0.1);
}

@media (max-width: 1440px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 85%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 70%;
  }
}